/*GENERAL*/

#main-row {
  color: #4e342e;
}

html {
  font-family: 'Montserrat';
}


/*NAVBAR*/

#logo {
  height: 50px;
  padding: 10px 20px;
}

#nav-mobile li {
  font-weight: 600;
}

#navbar ul .small-link {
  color: #757575;

}


/*MAIN*/



/*FOOTER*/



/*RESPONSIVE DESIGN*/

@media screen and (max-width: 600px) {

}


/*STICKY FOOTER*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
