/*GENERAL*/

html {
  font-family: 'Montserrat';
}


/*NAVBAR*/

#logo {
  height: 50px;
  padding: 10px 20px;
}

#nav-top li a {
  font-weight: 800;
  color: #fdd835;
}

#nav-mobile li {
  font-weight: 600;
}

#navbar {
    padding-right: 20px;
}

#navbar ul .small-link {
  color: #757575;
}

#mobile-nav {
  padding-top: 30px;
}

#mobile-nav li .selected {
  background-color: #f5f5f5;
}


/*MAIN*/

main {
  padding-top: 20px;
}

#main-row {
  color: #4e342e;
}

#map {
  margin-bottom: 20px;
}

/*MODALS*/

#modals {
  color: #4e342e;
}

#submit {
  font-weight: 800;
}

#call {
  font-weight: 800;
}

#mark {
  font-weight: 800;
}


/*STICKY FOOTER*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
	height: 200px;
	width: 100%;
}

#userLocation {
	height:50px;
	width: 50px;
}


/*RESPONSIVE DESIGN*/

@media screen and (max-width: 600px) {

}
